body{
    background-color: rgb(165, 143, 143);
}
nav{ width: 100%;
   


}
.footer{
    background-color: rgb(121, 121, 121);
    position: relative;
    bottom: 0px;
    border-style: solid;
    border-color: rgb(3, 1, 1);
    border-radius: 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    
     p{
        font-size: 50%;
        color: white;
        min-block-size: 9px;
        


     }    
}
img{
    width: 30%;
    margin: 10px;
}
#logo{
    margin: 5px;
    max-width: 15%;
    min-width: 30%;
}
.titulos{
    margin: 0;
    padding: 10px;
    font-size: 40px;
    text-decoration: none;
    position: relative;
}
.bloqueHotel{
    background-color: rgb(173, 173, 173);
    .bloqueHotel__titulo{
        padding: 10px;
        margin: 0;
        font-size: 40px;
        color: rgb(0, 0, 0);
        }
    .bloqueHotel__texto{
        padding: 10px;
        margin: 0;
        font-size: 15px;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .bloqueHotel__img{
        width: 30%;
        margin: 10px;
    }
 }
.habitaciones{
    
     .habitaciones__texto{
         padding: 0%;
         margin: 5px;   
         font-size: 25px;
     }
    .habitaciones__lista{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        flex-wrap: nowrap; 
        }
    .habitaciones__item{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px;
        padding: 10px;
        text-align: justify; }         
}
.img__habitaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

.bares{
    .bares__titulo{ 
        padding: 0%;
         margin: 5px; 
         font-size: 25px;
    }
    .bares__lista{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        flex-wrap: nowrap; 
    }
    .bares__item{        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px;
        padding: 10px;
        text-align: justify;

    }    
}
.estilosSubtitulos{
    padding: 0%;
    margin: 5px;   
    font-size: 25px;

}
.servicios{
    width:  30%;
    border: black;
    border-style: solid;
    background-color: rgb(202, 202, 202);
    margin: 5px;
    max-width: 40%;
    min-width: 200px;

    .servicios__texto{
        padding: 0%;
        margin: 5px; 
        font-size: 25px;

    }
    .servicio__lista{
        display: flex;
        flex-direction: column;
        margin: 0%;
        padding: 10px;
        text-align: justify;
        

    }
    .servicios__item{
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        text-align: justify;
        list-style: symbols();
        font-size: 12px;
                
    }
 
}
.formulario{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: relative;
    margin: 10px;
    width: 400px;
    background-color: gray;
    border-style: solid;
    border-color: black;
    max-width: 40%;
    min-width: 300px;

    .fomrulario__contenido{
        margin: 10px;
        width: 400px;
        max-width: 40%;
        min-width: 200px;      

    }

    .formulario__img{
        display: flex;
        justify-content: center; 
        position: relative; 
        width: 95%;
    }

    .fomrulario__texto{
        padding: 0%;
        margin: 5px; 
        font-size: 16px; } 

}
.contacto{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    position: relative;
    margin: 10px;
    width: 400px;
    background-color: gray;
    border-style: solid;
    border-color: black;
    max-width: 40%;
    min-width: 300px; 
    .contacto__img{
        display: flex;
        justify-content: center; 
        position: relative; 
        width: 95%;
    }

    .contacto__texto{
        padding: 0%;
        margin: 5px; 
        font-size: 16px;}
    .contacto__cuadro{
        margin: 5px;
    }

}


@media (min-width: 140px){
    main{
        color: rgb(252, 252, 252);  
        flex-direction: column;       
    }
    .servicios{
        width:  350px;
        border: rgb(221, 26, 26);
        border-style: solid;
        background-color: rgb(202, 202, 202);
        margin: 5px;
    }
    


}        
@media (min-width: 768px){
    main{
        color: rgb(228, 149, 149);
    }
}
@media (min-width: 1024px){
    main{
        color: rgb(58, 58, 58);
    }

}
@media (min-width: 1200px){
    main{
        color: rgb(5, 5, 5);        
    }


}
